#anchorpane {
     -fx-background-color: linear-gradient(#880808, #FF0000);
}

#borderpane {
    -fx-background-image: url("sports.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#registerbox {
     -fx-background-color: linear-gradient(#880808, #FF0000);
}

#adminbox {
     -fx-background-color: linear-gradient(#880808, #FF0000);
}

#aboutbox {
     -fx-background-color: linear-gradient(#880808, #FF0000);
}

#webbox {
     -fx-background-color: linear-gradient(#880808, #FF0000);
}
