#vboxathletic {
    -fx-background-color: rgba(13, 59, 13, 0.9);
}

#vboxpersonal {
    -fx-background-color: rgba(13, 59, 13, 0.9);
}

#vboxhealth {
    -fx-background-color: rgba(13, 59, 13, 0.9);
}

#anchorpane {
     -fx-background-color: linear-gradient(#880808, #FF0000);
}

#borderpane {
    -fx-background-image: url("sports.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#fnamelabel {
    -fx-text-fill: #EE4B2B;
}

#mnamelabel {
    -fx-text-fill: #EE4B2B;
}

#lnamelabel {
    -fx-text-fill: #EE4B2B;
}

#agelabel {
    -fx-text-fill: #EE4B2B;
}

#sexlabel {
    -fx-text-fill: #EE4B2B;
}

#nationlabel {
    -fx-text-fill: #EE4B2B;
}

#religionlabel {
    -fx-text-fill: #EE4B2B;
}

#hlabel {
    -fx-text-fill: #EE4B2B;
}

#streetlabel {
    -fx-text-fill: #EE4B2B;
}

#citylabel {
    -fx-text-fill: #EE4B2B;
}

#provlabel {
    -fx-text-fill: #EE4B2B;
}

#numlabel {
    -fx-text-fill: #EE4B2B;
}

#emaillabel {
    -fx-text-fill: #EE4B2B;
}

#explabel {
    -fx-text-fill: #EE4B2B;
}

#sportlabel {
    -fx-text-fill: #EE4B2B;
}

#condlabel {
    -fx-text-fill: #EE4B2B;
}

#silabel {
    -fx-text-fill: #EE4B2B;
}

#clabel {
    -fx-text-fill: #EE4B2B;
}


